@model MtgCollectionMgr.ViewModels.ViewCollectionViewModel

@{
    ViewData["Title"] = "Cards";
}

<h2>My Collection</h2>

<div class="row">
    <div class="col-md-3">
        <form asp-controller="CollectionModels" asp-action="Search">
            <div class="form-group">
                <label>Search for a Card</label>
                <input type="text" name="searchTerm" class="form-control" />
            </div>
            <input type="submit" value="Search" />
        </form>
    </div>
</div>

<hr />

<div class="collection-details">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Market Price</th>
                <th>Median Price</th>
                <th>Buylist Market Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var card in Model.Cards)
            {
                <tr>
                    <td><a asp-controller="CardModels" asp-action="Details" asp-route-id="@card.CardModel.ID">
                        @card.CardModel.Name</a></td>
                    <td>@card.CardModel.MarketPrice</td>
                    <td>@card.CardModel.MedianPrice</td>
                    <td>@card.CardModel.BuylistMarketPrice</td>
                </tr>
            }
        </tbody>
    </table>
</div>

